/*----- VARIABLES ------*/
/*--------- MIXINs ------------*/
/*-------------------- SITIO : AJUSTES GLOBALES -------------------*/
@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  color: white;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/*-------------------- PAGINA : HOME -------------------*/
section {
  padding: 0 10vw 0 10vw;
}

.title {
  height: 90vh;
  background-image: url(../media/bg-intro.png);
  background-size: cover;
  background-position: right;
}
.title div {
  display: inline-block;
  margin: 15vh 0 0 5vw;
}

.sectionTitle {
  color: white;
  font-size: 4em;
  font-weight: 800;
}

.sectionSubtitle {
  font-size: 2em;
}

.sectionButton {
  width: 13em;
  height: 3em;
  background-color: white;
  border: 0px;
  border-radius: 8px;
  color: #222A68;
  font-family: "Nunito", sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  margin: 10px 0 0 0;
  transition: all 0.5s;
}
.sectionButton:hover {
  background-color: #222A68;
  color: #FEB95F;
  transform: scale(1.05);
}
.sectionButton:active {
  transform: scale(1);
}

.invitation {
  background-image: url(../media/bg-store.png);
  background-size: cover;
  height: 90vh;
}
.invitation div {
  display: inline-block;
  margin: 15vh 0 0 40vw;
}

/*-------------------- PAGINA : INTRODUCTION -------------------*/
.intro {
  background-color: #9370cc;
  background: linear-gradient(to bottom, #9370cc, #222A68);
  min-height: 40vh;
  display: flex;
}

.mainContainer {
  padding: 2em 10vw 2em 10vw;
  margin: auto;
}
.mainContainer h2, .mainContainer h1 {
  text-align: center;
  padding: 0 0 1em 0;
}

.mcFlex {
  display: flex;
}

h3 {
  text-align: center;
  padding: 0 0 1em 0;
}

.mainCoins {
  background-color: #222A68;
  min-height: 50vh;
  display: flex;
}
.mainCoins h2 {
  text-align: center;
  padding: 0 0 1em 0;
}

.mainCoin__btc {
  width: 50%;
  padding: 15px;
  margin: 0 1vw 0 0;
  border: 5px solid #FEB95F;
  border-radius: 10px;
  background-image: url(../media/btc-transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.mainCoin__btc h2 {
  color: #FEB95F;
  font-weight: 800;
}

.mainCoin__eth {
  width: 50%;
  padding: 15px;
  margin: 0 0 0 1vw;
  border: 5px solid #FEB95F;
  border-radius: 10px;
  background-image: url(../media/eth-transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.mainCoin__eth h2 {
  color: #FEB95F;
  font-weight: 800;
}

.altCoins__cardsContainer {
  margin: 5vh 0 0 0;
  display: flex;
}

.altCoins__coinCard {
  width: 20%;
}

.card__link {
  margin: auto 0 0 0;
}
.card__link:hover {
  text-decoration: underline;
}

.altCoins {
  background-color: #9370cc;
  background: linear-gradient(to bottom, #222A68, #197278);
}

.stableCoins {
  background-color: #197278;
}

.custody {
  background-color: #9370cc;
  min-height: 45vh;
}

.exchanges {
  background-color: #222A68;
  min-height: 45vh;
  display: flex;
}

.glitters {
  background-color: #CE6A85;
  background-image: url(../media/bg-warning.png);
  background-size: cover;
  min-height: 90vh;
}

.coinIcon {
  display: inline-block;
  height: 1.5em;
}

/* ---------- STORE ---------- */
.hardwareWallets {
  background-color: #222A68;
  min-height: 90vh;
}

.rigs {
  background-color: #197278;
  min-height: 90vh;
}

.store__cardsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.store__cardsContainer .walletCard {
  width: 250px;
  background-color: rgb(20, 20, 20);
  box-sizing: content-box;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}
.store__cardsContainer .walletCard h3 {
  padding: 0;
}
.store__cardsContainer .walletCard img {
  border-radius: 5px;
  padding: 5px 0 15px 0;
}
.store__cardsContainer .walletCard .price {
  font-size: 1.5em;
  text-align: center;
}
.store__cardsContainer .walletCard button {
  margin: auto;
  padding: 10px;
  font-weight: 800;
  border-radius: 10px;
  transition: all 0.5s;
}
.store__cardsContainer .walletCard button:hover {
  background-color: #222A68;
  color: #FEB95F;
  transform: scale(1.05);
}
.store__cardsContainer .walletCard button:active {
  transform: scale(1);
}
.store__cardsContainer .rigCard {
  width: 250px;
  background-color: rgb(20, 20, 20);
  box-sizing: content-box;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  width: 300px;
}
.store__cardsContainer .rigCard h3 {
  padding: 0;
}
.store__cardsContainer .rigCard img {
  border-radius: 5px;
  padding: 5px 0 15px 0;
}
.store__cardsContainer .rigCard .price {
  font-size: 1.5em;
  text-align: center;
}
.store__cardsContainer .rigCard button {
  margin: auto;
  padding: 10px;
  font-weight: 800;
  border-radius: 10px;
  transition: all 0.5s;
}
.store__cardsContainer .rigCard button:hover {
  background-color: #222A68;
  color: #FEB95F;
  transform: scale(1.05);
}
.store__cardsContainer .rigCard button:active {
  transform: scale(1);
}

/*------------ CONTACT --------------*/
.contact {
  background-color: #222A68;
}
.contact form {
  padding: 0 0 2em 0;
}

.contactForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

#name {
  width: 50%;
}

#e-mail {
  width: 50%;
}

.map {
  width: 30vw;
  padding: 1em 0 0 0;
}

/*-------------------- SITIO : HEADER Y NAV -------------------*/
header {
  background-color: #9370cc;
  height: 10vh;
  padding: 0 15vw 0 15vw;
}

.header__nav {
  padding: 0;
  margin: 0;
  height: 10vh;
}

.nav__navbar {
  background-color: #9370cc;
  border-radius: 0 0 10px 10px;
  margin: 0 0 0 auto;
}

.nav__logo {
  height: 1.3em;
}

.nav__brand--font {
  font-size: 2.45em;
  font-weight: 800;
  color: white;
  padding: 0;
}
.nav__brand--font:hover {
  color: #222A68;
}

.nav__link--font {
  color: white;
  font-size: 1.3em;
  font-weight: 800;
  margin: 0 0.5em 0 0.5em;
}
.nav__link--font:hover {
  color: #222A68;
}

.nav__subLink--font {
  color: white;
  font-size: 1em;
  font-weight: 800;
}

footer {
  background-color: #9370cc;
  height: 10vh;
  padding: 0 15vw 0 15vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__smButton {
  color: white;
  text-decoration: underline;
}

.footer__logo {
  height: 2em;
}

@media (max-width: 1400px) {
  .invitation {
    background-image: url(../media/bg-store-flip.png);
    background-position: 70%;
  }
  .invitation div {
    margin: 15vh 0 0 5vw;
    width: 70%;
  }
  .hardwareWallets .mainContainer {
    padding: 2em 5vw 2em 5vw;
  }
  .rigs .mainContainer {
    padding: 2em 5vw 2em 5vw;
  }
}
@media (max-width: 1200px) {
  .hardwareWallets .mainContainer {
    padding: 2em 0 2em 0;
  }
  .rigs .mainContainer {
    padding: 2em 0 2em 0;
  }
  .contactForm {
    width: 50vw;
  }
  .map {
    width: 50vw;
  }
}
@media (max-width: 1050px) {
  .hardwareWallets {
    padding: 0 2vw 0 2vw;
  }
  .rigs .mainContainer {
    padding: 2em 2vw 2em 2vw;
  }
}
@media (max-width: 900px) {
  .invitation {
    background-image: url(../media/bg-store-flip.png);
    background-position: 50%;
  }
  .invitation div {
    margin: 15vh 0 0 5vw;
    width: 70%;
  }
  .contactForm {
    width: 75vw;
  }
  .map {
    width: 75vw;
  }
}
@media (max-width: 600px) {
  .invitation {
    background-image: url(../media/bg-store-flip.png);
    background-position: 50%;
  }
  .invitation div {
    margin: 15vh 0 0 5vw;
    width: 70%;
  }
  .sectionTitle {
    font-size: 3em;
  }
  .sectionSubtitle {
    font-size: 1.5em;
  }
  .nav__brand--font {
    font-size: 1.5em;
  }
  .nav__hamBttn {
    scale: 0.8;
  }
  .nav__link--font {
    font-size: 1em;
  }
  .nav__subLink--font {
    font-size: 0.8em;
  }
  footer {
    padding: 0 5vw 0 5vw;
  }
  header {
    padding: 0 5vw 0 5vw;
  }
  .footer__p {
    scale: 0.8;
  }
  .footer__brand {
    font-size: 0.8em;
  }
  .footer__smButton {
    font-size: 0.9em;
  }
  .contact .contactForm {
    width: auto;
    margin: auto;
  }
  .contact .mainContainer {
    padding: 1em 5vw 1em 5vw;
  }
  .contact .map {
    width: auto;
  }
  #name {
    width: 100%;
  }
  #e-mail {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .altCoins__cardsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .altCoins__coinCard {
    width: 32%;
  }
}
@media (max-width: 999px) {
  .mainContainer {
    padding: 1em 0 1em 0;
  }
  .mainContainer h2 {
    text-align: center;
    padding: 0 0 0.5em 0;
    font-size: 1.5em;
  }
  .mainContainer p {
    font-size: 0.9em;
  }
  h3 {
    text-align: center;
    padding: 0 0 0.5em 0;
    font-size: 1.5em;
  }
  .altCoins__coinCard {
    width: 30%;
  }
  .altCoins__coinCard h5 {
    font-size: 1em;
  }
  .altCoins__coinCard p {
    font-size: 0.8em;
  }
  .altCoins__coinCard a {
    font-size: 0.8em;
  }
}
@media (max-width: 880px) {
  .mcFlex {
    display: flex;
    flex-direction: column;
  }
  .mainCoin__btc {
    width: auto;
    margin: 0 0 0 0;
  }
  .mainCoin__eth {
    width: auto;
    margin: 1em 0 0 0;
  }
}
@media (max-width: 650px) {
  .intro {
    padding: 0 3vw 0 3vw;
  }
  .mainCoins {
    padding: 0 3vw 0 3vw;
  }
  .altCoins {
    padding: 0 3vw 0 3vw;
  }
  .stableCoins {
    padding: 0 3vw 0 3vw;
  }
}
@media (max-width: 500px) {
  .altCoins__coinCard {
    width: 45%;
  }
}
@media (max-width: 350px) {
  .altCoins__coinCard {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
