footer {
	background-color: $background-color_1;
	height: 10vh;
	padding: 0 15vw 0 15vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer__smButton {
	color: $color_1;
	text-decoration: underline;
}

.footer__logo {
	height: 2em;
}