$color_1: white;
$color_2: #222A68;
$font-family_1: 'Nunito', sans-serif;
$background-color_1: #9370cc;
$background-color_2: white;
$background-color_3: #222A68;
$background-color_4: #197278;
$background-color_5: #CE6A85;